<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/user/main.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/user/common.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/user/center/center.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<header th:replace="user/common :: header"></header>
<div class="container user-body">
    <div class="user-left fl">
        <div class="avatar">
            <img src="/static/images/user/default-avatar.png" width="80px" height="80px">
        </div>

        <div class="user-name">
            欢迎你，<span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></span>
        </div>

        <ul id="selectList" class="select">
            <li class="hover" url="/user/center/collect"><a href="javascript:void(0);">收藏列表</a></li>
            <li url="/user/center/subscribe"><a href="javascript:void(0);">我的预约</a></li>
            <li url="/user/center/logs"><a href="javascript:void(0);">看车记录</a></li>
            <li url="/user/center/message"><a href="javascript:void(0);">编辑资料</a></li>
        </ul>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="iframe" class="embed-responsive-item" src="/user/center/collect"></iframe>
    </div>
</div>

<div th:replace="user/common :: footer"></div>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/user/center/center.js"></script>
</body>
</html>