<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-language" content="zh-CN"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="pc">

    <title>寻车地图</title>
    <link href="/static/css/user/main.css" rel='stylesheet' type='text/css'/>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/user/common.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/user/car/map.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/lib/baidu-map/css/SearchInfoWindow_min.css" />
</head>
<body>
<header th:replace="user/common :: header"></header>
<div>
    <div class="left-region">
        <input id="cityEnName" th:value="${city.enName}" type="hidden">
        <input id="cityCnName" th:value="${city.cnName}" hidden="hidden">
        <div class="r-hd2">
            <ol class="order-select">
                <li class="s-default on" data-bind="lastUpdateTime" data-direction="desc">默认</li>
                <li class="s-price s-asc" data-bind="price" data-direction="asc">
                    价格
                    <i class="asc">↑</i>
                </li>
                <li class="s-new" data-bind="createTime" data-direction="desc">
                    最新
                </li>
            </ol>
        </div>
        <div class="r-hd3" style="display: block;">
            <div class="r-hd3-content">
                <ol class="i-card i-card-1">
                    <li class="i-card-name" th:text="${city.cnName}">北京市</li>
                    <li class=""><span th:text="${total}">0</span>辆车正在销售</li>
                    <li>共<span th:text="${#lists.size(regions)}"></span>个区域</li>
                </ol>
            </div>
            <div class="r-hd3-bg">
                <div class="r-hd3-cycle">
                    <div></div>
                </div>
                <div class="r-hd3-triangle"></div>
            </div>
        </div>
        <div class="r-container" style="position: relative; overflow: auto;">
            <ul id="car-flow" class="flow-default r-content">
            </ul>
        </div>
    </div>
    <div id="allmap" class="wrapper">
    </div>
</div>
<!--<div th:include="common :: footer"></div>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=A5sxa4DVip54FU3HauB3sj4VntyAfAbA"></script>
<script type="text/javascript" src="/static/lib/baidu-map/js/TextIconOverlay.js"></script>
<script type="text/javascript" src="/static/lib/baidu-map/js/MarkerClusterer.js"></script>
<script type="text/javascript" src="/static/lib/baidu-map/js/SearchInfoWindow_min.js"></script>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/user/car/map.js"></script>
<script type="text/javascript" th:inline="javascript">
    // 初始化加载地图数据
    var city = [[${city}]],
        regions = [[${regions}]],
        aggData = [[${aggData}]];

    load(city, regions, aggData);
</script>
</body>
</html>

