<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 类型别名 -->
    <typeAliases>
        <package name="com.berg.fastsearch.account.entity" />
    </typeAliases>

    <!-- mapper文件路径 -->
    <mappers>
        <mapper resource="mappers/com/berg/fastsearch/account/mapper/UserMapper.xml" />
        <mapper resource="mappers/com/berg/fastsearch/account/mapper/RoleMapper.xml" />
        <mapper resource="mappers/com/berg/fastsearch/account/mapper/UserRoleMapper.xml" />
    </mappers>
</configuration>