<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.berg.fastsearch.account.mapper.UserRoleMapper">
    <!-- 表名 -->
    <sql id="TableName">
        SYS_USER_ROLE AS ${alias}
    </sql>

    <!-- 基础ResultMap -->
    <resultMap id="BaseResultMap" type="com.berg.fastsearch.account.entity.UserRole">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="USER_ID" property="userId" jdbcType="BIGINT" />
        <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    </resultMap>

    <!-- 基础Sql -->
    <sql id="BaseSql">
        ${prefix}.ID,
        ${prefix}.USER_ID,
        ${prefix}.ROLE_ID
    </sql>

    <!-- 基本的查询条件 -->
    <sql id="BaseCondition">
        <if test="id!=null and id!=0">
            AND ${prefix}.ID = #{id, jdbcType=DECIMAL}
        </if>
        <if test="userId!=null and userId!=0">
            AND ${prefix}.USER_ID = #{userId, jdbcType=DECIMAL}
        </if>
        <if test="roleId!=null and roleId!=0">
            AND ${prefix}.ROLE_ID = #{roleId, jdbcType=DECIMAL}
        </if>
    </sql>

    <!-- 条件查询 -->
    <select id="select" parameterType="com.berg.fastsearch.account.entity.UserRole"
            resultMap="com.berg.fastsearch.account.mapper.UserRoleMapper.BaseResultMap">
        SELECT
        <include refid="com.berg.fastsearch.account.mapper.UserRoleMapper.BaseSql">
            <property name="prefix" value="sur" />
        </include>
        FROM
        <include refid="com.berg.fastsearch.account.mapper.UserRoleMapper.TableName">
            <property name="alias" value="sur" />
        </include>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <include refid="com.berg.fastsearch.account.mapper.UserRoleMapper.BaseCondition">
                <property name="prefix" value="sur"/>
            </include>
        </trim>
    </select>
</mapper>